<div class="top-buffer"></div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3><span class="icon-user" aria-hidden="true"></span>&nbsp;ASESORIA JURÍDICA</h3>
      <hr class="red">
    </div>
  </div>
</div>


<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Folio:<samp id="Folio" name="Folio" class="control-label"></samp> </label>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <small id="Folio" name="Folio" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Beneficiario*:<samp id="Beneficiario" name="Beneficiario" class="control-label"></samp> </label>
        <select class="form-control">
          <option>Preliberado</option>
          <option>Liberado</option>
          <option>Familiar</option>
        </select>
        <small id="Beneficiario" name="Beneficiario" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Número de Expediente:<samp id="Número de Expediente" name="Número de Expediente" class="control-label"></samp> </label> <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ejemplo tooltip"></span>
        <input type="text" class="form-control smalltext" id="Número de Expediente" name="Número de Expediente" size="30" placeholder="Número de Expediente" onKeyPress="return CamposFormulario(event, 2);">
        <small id="Número de Expediente" name="Número de Expediente" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Fehca de orientación:<samp id="Fehca de orientación" name="Fehca de orientación" class="control-label"></samp> </label>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <small id="Fehca de orientación" name="Fehca de orientación" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Numero telefónico:<samp id="Numero telefónico" name="Numero telefónico" class="control-label"></samp> </label>
        <input type="text" class="form-control smalltext" id="Numero telefónico" name="Numero telefónico" size="30" placeholder="Numero telefónico" onKeyPress="return CamposFormulario(event, 2);">
        <small id="Numero telefónico" name="Numero telefónico" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">#Pendiente:<samp id="Número de Expediente" name="Número de Expediente" class="control-label"></samp> </label> <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ejemplo tooltip"></span>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <small id="Número de Expediente" name="Número de Expediente" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Tipo de asesoria:<samp id="Tipo de asesoria" name="Tipo de asesoria" class="control-label"></samp> </label>
        <select class="form-control">
          <option>Civil</option>
          <option>Familiar</option>
          <option>INE</option>
          <option>Otro</option>
        </select>
        <small id="Tipo de asesoria" name="Fehca de orientación" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Instrución de Referencia:<samp id="Instrución de Referencia" name="Instrución de Referencia" class="control-label"></samp> </label> <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ejemplo tooltip"></span>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <small id="Instrución de Referencia" name="Instrución de Referencia" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" role="form">
        <div class="form-group">
          <label>REGISTRO:&nbsp;&nbsp;</label>
        </div>
        <a class="btn btn-primary btn-sm" type="submit">NUEVO</a>
      </form>
    </div>
  </div>
</div>
<br />

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-group ficha-collapse">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title text-center">
              <a data-parent="#accordion2" data-toggle="collapse" aria-controls="panel-02">
                Registros
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse show">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>
                        <p>No</p>
                      </th>
                      <th>
                        <p>FECHA DE DERIVACION</p>
                      </th>
                      <th>
                        <p>No. DE OFICIO</p>
                      </th>
                      <th>
                        <p>NOMBRE DE QUIEN RECIBE EL SERVICIO</p>
                      </th>
                      <th>
                        <p>INSTITUCION A LA QUE SE DERIVA</p>
                      </th>
                      <th>
                        <p>OBSERVACIONES</p>
                      </th>
                      <th>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>
                        <p>En espera</p>
                      </td>
                      <td>
                        <p>Falta documento</p>
                      </td>
                      <td>
                        <p>22/10/2021</p>
                      </td>
                      <td>
                        <p>En espera</p>
                      </td>
                      <td>
                        <p>Falta documento</p>
                      </td>
                      <td>
                        <p>22/10/2021</p>
                      </td>
                      <td>
                        <p>
                          <a class="btn btn-danger btn-sm" type="button" routerLink="/Actualizar">Actualizar</a>
                          <a class="btn btn-danger btn-sm" type="button" routerLink="/Beneficio">Beneficios</a>
                          <a class="btn btn-danger btn-sm" type="button" routerLink="/Amparo">Amparo</a>
                          <a class="btn btn-danger btn-sm" type="button" routerLink="/Conclucion">Conclución</a>
                          <a class="btn btn-danger btn-sm" type="button" routerLink="/Extiencion">Extención</a>
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>
                        <p>En espera</p>
                      </td>
                      <td>
                        <p>Falta documento</p>
                      </td>
                      <td>
                        <p>22/10/2021</p>
                      </td>
                      <td>
                        <p>En espera</p>
                      </td>
                      <td>
                        <p>Falta documento</p>
                      </td>
                      <td>
                        <p>22/10/2021</p>
                      </td>
                      <td>
                        <p>
                          <a class="btn btn-danger btn-sm" type="button" routerLink="/Actualizar">Actualizar</a>
                          <a class="btn btn-danger btn-sm" type="button" routerLink="/Beneficio">Beneficios</a>
                          <a class="btn btn-danger btn-sm" type="button" routerLink="/Amparo">Amparo</a>
                          <a class="btn btn-danger btn-sm" type="button" routerLink="/Conclucion">Conclución</a>
                          <a class="btn btn-danger btn-sm" type="button" routerLink="/Extiencion">Extención</a>
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>
                        <p>En espera</p>
                      </td>
                      <td>
                        <p>Falta documento</p>
                      </td>
                      <td>
                        <p>22/10/2021</p>
                      </td>
                      <td>
                        <p>En espera</p>
                      </td>
                      <td>
                        <p>Falta documento</p>
                      </td>
                      <td>
                        <p>22/10/2021</p>
                      </td>
                      <td>
                        <p>
                          <a class="btn btn-danger btn-sm" type="button" routerLink="/Actualizar">Actualizar</a>
                          <a class="btn btn-danger btn-sm" type="button" routerLink="/Beneficio">Beneficios</a>
                          <a class="btn btn-danger btn-sm" type="button" routerLink="/Amparo">Amparo</a>
                          <a class="btn btn-danger btn-sm" type="button" routerLink="/Conclucion">Conclución</a>
                          <a class="btn btn-danger btn-sm" type="button" routerLink="/Extiencion">Extención</a>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Anterior">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Siguiente">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Profecional que lleva el caso:<samp id="Profecional que lleva el caso" name="Profecional que lleva el caso" class="control-label"></samp> </label> <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ejemplo tooltip"></span>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <small id="Profecional que lleva el caso" name="Profecional que lleva el caso" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
  </div>
</div>


<div class="bottom-buffer"></div>
