<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
</style>


<!-- Toolbar -->



<script>
  $('#myModal').modal(options)
  $('#myModal').modal('show')

</script>

<!-- Toolbar -->


<div class="modal" tabindex="1" id="myModal">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">

        <h4 class="modal-title">Ejemplo de ventana modal</h4>

      </div>

      <div class="modal-body">

        <!-- Nuevos cambios -->

        <form role="form">

          <div class="form-group">

            <label class="control-label" for="Buscar"><span class="icon-search" aria-hidden="true"></span>&nbsp;&nbsp;Buscar:</label>

            <input class="form-control" id="" placeholder="Buscar" type="text">

          </div>

        </form>



        <p>Ejemplo de texto interno.</p>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        <button type="button" class="btn btn-primary">Buscar</button>

      </div>

    </div><!-- /.modal-content -->

  </div><!-- /.modal-dialog -->

</div><!-- /.modal -->







<div class="modal" tabindex="2" id="myModal2">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">

        <h4 class="modal-title">Se ha generado el folio con éxito</h4>

      </div>

      <div class="modal-body">

        <!-- Nuevos cambios -->



        <div class="alert alert-success" role="alert"><p>MEJF84020515HMEX017</p></div>



      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        <button type="button" class="btn btn-primary" [routerLink]="['/Home']" data-dismiss="modal">Salir</button>

      </div>

    </div><!-- /.modal-content -->

  </div><!-- /.modal-dialog -->

</div><!-- /.modal -->





<div class="modal" tabindex="3" id="myModal3">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">

        <h4 class="modal-title">Se ha generado el folio con éxito</h4>

      </div>

      <div class="modal-body">

        <!-- Nuevos cambios -->



        <div class="alert alert-success" role="alert"><p>NIPJ840123QTHMX007</p></div>



      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        <button type="button" class="btn btn-primary" [routerLink]="['/Home']" data-dismiss="modal">Siguiente</button>

      </div>

    </div><!-- /.modal-content -->

  </div><!-- /.modal-dialog -->

</div><!-- /.modal -->





<div class="modal" tabindex="4" id="myModal4">
  <div class="modal-dialog">
  <div class="modal-content">
 <div class="modal-header">
 <h4 class="modal-title">¡Se ha actualizado correctamente la información! </h4>
 </div>
 <div class="modal-body">

        <!-- Nuevos cambios -->



        <div class="alert alert-success" role="alert"><p>MEJF84020515HMEX017</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/Home']" data-dismiss="modal">Siguiente</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="modal" tabindex="4" id="myModal4">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">¡Se ha actualizado correctamente la información! </h4>
      </div>

      <div class="modal-body">

        <!-- Nuevos cambios -->



        <div class="alert alert-success" role="alert"><p>MEJF84020515HMEX017</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/Home']" data-dismiss="modal">Siguiente</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal" tabindex="5" id="myModal5">
  <div class="modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">¡Se ha actualizado correctamente la información! </h4>
      </div>

      <div class="modal-body">


        <!-- Nuevos cambios -->
        <div class="row">
          <div class="col-md-12">
            <label class="control-label">Nombre:</label>
            <input type="text" class="form-control smalltext" id="Nombre" name="Nombre" size="30" placeholder="Nombre">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="control-label">Proceso:</label>
            <input type="text" class="form-control smalltext" id="Proceso" name="Proceso" size="30" placeholder="Proceso">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="control-label">Causa:</label>
            <input type="text" class="form-control smalltext" id="Causa" name="Causa" size="30" placeholder="Causa">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="control-label">Circuito:</label>
            <select class="form-control">
              <option>---- Seleciona ----</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="control-label">Juzgado:</label>
            <select class="form-control">
              <option>---- Seleciona ----</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="control-label">Asunto:</label>
            <input type="text" class="form-control smalltext" id="Asunto" name="Asunto" size="30" placeholder="Asunto">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="control-label">Promocion de Amparo:</label>
            <input type="text" class="form-control smalltext" id="Promocion de Amparo" name="Promocion de Amparo" size="30" placeholder="Promocion de Amparo">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="control-label">Resolución:</label>
            <input type="text" class="form-control smalltext" id="Resolución" name="Resolución" size="30" placeholder="Resolución">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="radio">
              <label>
                <input type="radio" name="radio-01" value="opcion-01" checked="checked"> Concede &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="radio-01" value="opcion-02" checked="checked"> Niega
              </label>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/Home']" data-dismiss="modal">Siguiente</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->






<!-- modal de procesos -->
<div class="modal" tabindex="8" id="myModal8">
  <div class="modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">¡Se ha actualizado correctamente la información! </h4>
      </div>

      <div class="modal-body">

        <!-- Nuevos cambios -->


        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="email-03">Nuevo Procesos:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Nuevo Procesos" type="text">
            </div>
            <label class="col-sm-3 control-label" for="email-03">Beneficios / Sustitutivo penal:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Beneficios / Sustitutivo penal:" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="password-03">Fecha de Acogimiento (beneficios):</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Fecha de Acogimiento:" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">Juzgado:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Juzgado" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="password-03">Entidad:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Entidad" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">Fecha de Sentencia*:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Fecha de Sentencia*" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="password-03">Toca Penal:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Toca Penal" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">Tribunal Unitario:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Tribunal Unitario" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="password-03">Fecha Toca Penal :</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Fecha Toca Penal " type="text">
            </div>
            <label class="col-sm-3 control-label" for="">Amparo:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Amparo" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="password-03">Fecha de amparo:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Fecha de amparo" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">Resolución de amparo:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Resolución de amparo" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="password-03">Delito 1:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Delito 1" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">Modalidad:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Modalidad" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="password-03">Reparación de Daño:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Reparación de Daño" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">Fecha Ejecutoria:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Fecha Ejecutoria" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="password-03">Incidente:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Incidente" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">SIPE:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="SIPE" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="password-03">SD:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="SD" type="text">
            </div>
          </div>
        </form>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="password-03">Pena de prisión:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Año" type="text">
            </div>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Mes" type="text">
            </div>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Día" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="password-03">Abono:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Año" type="text">
            </div>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Mes" type="text">
            </div>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Día" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="password-03">Fecha a partir:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Fecha a partir" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">Fecha posible conclusión:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Fecha posible conclusión" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="password-03">Estatus:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Estatus" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">Observaciones:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Observaciones" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="password-03">Centro de Reclusión:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Centro de Reclusión" type="text">
            </div>
          </div>
        </form>


        <div class="row">
          <div class="col-sm-4">
            <h4 style="color:rgb(188,149,92,1);"><span aria-hidden="true"></span>&nbsp;Beneficios</h4>
            <hr class="red">
          </div>
        </div>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">Número de Jornadas:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Número de Jornadas" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">Lugar presencial:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Estado" type="text">
            </div>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Alcaldía / Municipio" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">Estatus:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Estatus" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">No. Presentaciones:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="No. Presentaciones" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">Inicio de presentaciones:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Inicio de presentaciones" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">
              Fecha término de presentaciones:
            </label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Fecha término de presentaciones" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">Reporte y/o presentaciones:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Reporte y/o presentaciones" type="text">
            </div>
          </div>
        </form>



        <div class="row">
          <div class="col-sm-4">
            <h4 style="color:rgb(188,149,92,1);"><span aria-hidden="true"></span>&nbsp;Amparos</h4>
            <hr class="red">
          </div>
        </div>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">Amparo directo:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Amparo directo" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">Amparo indirecto:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Amparo indirecto" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">Nombre:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Nombre" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">Proceso:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Proceso" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">Causa:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Causa" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">Entidad / Municipio:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Entidad / Municipio" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">Asunto:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Asunto" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">Promoción de Amparo:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Promoción de Amparo" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">Resolución:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Resolución" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">Negado / Cancelado:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Negado / Cancelado" type="text">
            </div>
          </div>
        </form>

        <div class="row">
          <div class="col-sm-4">
            <h4 style="color:rgb(188,149,92,1);"><span aria-hidden="true"></span>&nbsp;Conclusión</h4>
            <hr class="red">
          </div>
        </div>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">Año :</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Año " type="text">
            </div>
            <label class="col-sm-3 control-label" for="">Mes:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Mes" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">Día:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Día" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">No. Oficio:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="No. Oficio" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">Juzgado:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Juzgado" type="text">
            </div>
          </div>
        </form>


        <div class="row">
          <div class="col-sm-4">
            <h4 style="color:rgb(188,149,92,1);"><span aria-hidden="true"></span>&nbsp;Extinción de la Pena</h4>
            <hr class="red">
          </div>
        </div>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">Año :</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Año " type="text">
            </div>
            <label class="col-sm-3 control-label" for="">Mes:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Mes" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">Día:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Día" type="text">
            </div>
            <label class="col-sm-3 control-label" for="">No. Oficio:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="No. Oficio" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">Juzgado:</label>
            <div class="col-sm-3">
              <input class="form-control" id="" placeholder="Juzgado" type="text">
            </div>
          </div>
        </form>





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/Home']" data-dismiss="modal">Siguiente</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="top-buffer"></div>
<div class="top-buffer"></div>



<router-outlet></router-outlet>







<div class="content" role="main">

  <!-- Highlight Card -->
  <!-- Resources -->
  <!-- Next Steps -->
  <!-- Terminal -->
  <!-- Links -->
  <!-- Footer -->
  <footer>
  </footer>



</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>