<div class="top-buffer"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">SELECCIONA EL MÓDULO AL QUE DESEAS INGRESAR:</h4>
      </div>
    </div>
  </div>

<div class="top-buffer"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
              <a class="btn btn-danger" type="button" routerLink="/Generales" style="width:243px;height:160px;"><img src="assets/Imagenes/altasentenciados.svg" /> <br />Alta de Sentenciados<br /> En Libertad</a>
              <!--<a class="btn btn-danger" type="button" routerLink="/ServiciospostalesLog"> <span class="icon-home" aria-hidden="true"></span><br />Servicios <br />Postales</a>--->
                <a class="btn btn-danger" type="button" routerLink="/Consultas" style="width:137px;height:160px;"><img src="assets/Imagenes/consultas.svg" /><br />Consultas</a>
                <a class="btn btn-danger" type="button"> <span class="icon-home" aria-hidden="true"></span> <br />Bajas del<br /> Sistema</a>
                <a class="btn btn-danger" type="button"> <span class="icon-home" aria-hidden="true"></span><br /> <br />Presentaciónes</a>
                <a class="btn btn-danger" type="button"> <span class="icon-home" aria-hidden="true"></span> <br /><br />Reportes</a>
              </p>
            </div>
          </div>
        </div>

  <div class="bottom-buffer"></div>
