



<div class="container">
  <div class="row">
    <div class="col-md-6">
      <label class="control-label">Número de Jornadas:<samp id="" name="Número de Jornadas" class="control-label"></samp> </label>
      <input class="form-control" placeholder="Número de Jornadas" rows="3">
    </div>
  </div>
</div>
<br />


<div class="container">
  <form class="form">
    <div class="form-group row">
      <label class="col-4 col-form-label" for="email-03">Lugar presencial:</label>
      <div class="col-4">
        <input class="form-control" id="email-03" placeholder="Estado/Municipio" type="text">
      </div>
      <div class="col-4">
        <input class="form-control" id="password-03" placeholder="Alcaldía" type="password">
      </div>
    </div>
  </form>
</div>

<div class="container">
<div class="row">
  <div class="col-md-6">
    <label class="control-label">Estatus:<samp id="" name="Estatus" class="control-label"></samp> </label>
    <select class="form-control">
      <option>Activado</option>
      <option>Enviado</option>
      <option>Inactivo</option>
      <option>Finado</option>
    </select>
  </div>
</div>
</div>


<div class="bottom-buffer"></div>
