

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <label class="control-label">Observaciónes:<samp id="" name="Observaciónes" class="control-label"></samp> </label>
      <textarea class="form-control" placeholder="Observaciónes" rows="3"></textarea>
    </div>
  </div>
</div>

<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Periocidad:<samp id="" name="Estatus" class="control-label"></samp> </label>
        <input class="form-control" placeholder="Area de texto" type="text">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Estatus:<samp id="" name="Estatus" class="control-label"></samp> </label>
        <select class="form-control">
          <option>Activado</option>
          <option>Enviado</option>
          <option>Inactivo</option>
          <option>Finado</option>
        </select>
      </div>
    </div>
  </div>
</div>
