
<div class="top-buffer"></div>

<!-- Menu -->
<nav class="navbar navbar-expand-md navbar-dark bg-light sub-navbar navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#subNavBarDropdown" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand sub-navbar" [routerLink]="['/user/bob']">prevencion y <br />readaptacion social</a>

    <div class="collapse navbar-collapse" id="subNavBarDropdown">
      <ul class="navbar-nav">

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link subnav-link" [routerLink]="['/Generales']">Generales</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link subnav-link" routerLink="/Demografico">Demograficos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link subnav-link" [routerLink]="['/Biometricos']">Biometricos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link subnav-link" [routerLink]="['/Familiares']">Familiares</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link subnav-link" [routerLink]="['/Judiricos']">Judiricos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link subnav-link" [routerLink]="['/Oficios']">Oficios</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link subnav-link" [routerLink]="['/']">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Fin del Menu -->

<div class="container">
  <div class="row">
    <div class="col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/Home']"><i class="icon icon-home"></i></a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/Generales']">Generales</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/Demografico']">Demografico</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/Biometricos']">Biometrico</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/Familiares']">Familiares</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/Judiricos']">Judiricos</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/Amparo']">Amparo</a></li>
      </ol>
    </div>
  </div>
</div>

<!-- Posicionamiento -->


<div class="container">
  <div class="row">
    <div class="col-12">
      <h3><span class="icon-user" aria-hidden="true"></span>&nbsp;Amparo</h3>
      <hr class="red">
    </div>
  </div>
</div>


<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Amparo directo:<samp id="errAmparo directo" name="errAmparo directo" class="control-label"></samp> </label>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <small id="errAmparo directo" name="errAmparo directo" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Amparo indirecto*:<samp id="errpAmparo indirecto" name="errpAmparo indirecto" class="control-label"></samp> </label> <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ejemplo tooltip"></span>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <small id="errpAmparo indirecto" name="errpAmparo indirecto" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Partida Judírica:</label>
        <input type="text" class="form-control smalltext" id="Partida Judírica" name="Partida Judírica" size="30" placeholder="Partida Judírica">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel-group ficha-collapse">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title text-center">
              <a data-parent="#accordion2" data-toggle="collapse" aria-controls="panel-02">
                Foto
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse show">
            <div class="panel-body">
              --------

              <div class="row">
                <div class="col-md-12">
                  <label class="control-label">Nombre:</label>
                  <input type="text" class="form-control smalltext" id="Nombre" name="Nombre" size="30" placeholder="Nombre">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="control-label">Proceso:</label>
                  <input type="text" class="form-control smalltext" id="Proceso" name="Proceso" size="30" placeholder="Proceso">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="control-label">Causa:</label>
                  <input type="text" class="form-control smalltext" id="Causa" name="Causa" size="30" placeholder="Causa">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="control-label">Entidad/Municipio:</label>
                  <select class="form-control">
                    <option>---- Seleciona ----</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="control-label">Asunto:</label>
                  <input type="text" class="form-control smalltext" id="Asunto" name="Asunto" size="30" placeholder="Asunto">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="control-label">Promocion de Amparo:</label>
                  <input type="text" class="form-control smalltext" id="Promocion de Amparo" name="Promocion de Amparo" size="30" placeholder="Promocion de Amparo">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="control-label">Resolución:</label>
                  <input type="text" class="form-control smalltext" id="Resolución" name="Resolución" size="30" placeholder="Resolución">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="control-label">Negado/Cacelado:</label>
                  <input type="text" class="form-control smalltext" id="Negado/Cacelado" name="Negado/Cacelado" size="30" placeholder="Negado/Cacelado">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

