<div class="container">
  <div class="row">
    <div class="col-12">
      <h3><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve" width="80px" height="80x">
<style type="text/css">
  .st0 {
    fill: none;
    stroke: #4E4D4D;
    stroke-width: 1.999;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;
    stroke: #4E4D4D;
    stroke-width: 2.285;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st2 {
    fill: none;
    stroke: #4E4D4D;
    stroke-width: 2.373;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
</style>
<g id="Grupo_402" transform="translate(-28.933 -13.668)">
<circle id="Elipse_4" class="st0" cx="77.6" cy="46.4" r="11.3" />
<path id="Trazado_4547" class="st1" d="M107.5,46.8c1.3-16.9-13.4-30-30-30c-16.6,0-30,13.4-30,30c0,0,0,0,0,0
		c0.3,4.8,1.9,9.4,4.7,13.3l25.6,38.6l25.5-38.9C105.7,55.8,107.1,51.4,107.5,46.8z" />
<path id="Trazado_4548" class="st2" d="M64.7,80.3c-15.4,2-26.5,7.4-26.5,13.8c0,8,17.6,14.6,39.3,14.6s39.3-6.5,39.3-14.6
		c0-6.3-10.7-11.6-25.7-13.7" />
</g>
</svg>&nbsp;DEMOGRAFICOS</h3>
      <hr class="red">
    </div>
  </div>
</div>


<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">País*:<samp id="Calle" name="errUsernameAs" class="control-label"></samp> </label>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <small id="" name="País" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Estado/Provincia*:<samp id="" name="Estado/Provincia" class="control-label"></samp> </label> <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ejemplo tooltip"></span>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <small id="" name="Estado/Provincia" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Municipio/Alcaldía/Distrito:*</label>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <small id="" name="Municipio/Alcaldía/Distrito" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Colonia:*</label>
        <input type="text" class="form-control smalltext" id="Colonia" name="sAColonia" size="30" placeholder="Colonia">
        <small id="errpColonia" name="errpColonia" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Codigo Postal*:<samp id="Codigo Postal" name="errUsernameAs" class="control-label"></samp> </label>
        <input type="text" class="form-control smalltext" id="Codigo Postal" name="Username" size="30" placeholder="Codigo Postal" onKeyPress="return CamposFormulario(event, 1);" value="">
        <small id="Codigo Postal" name="Codigo Postal" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Calle*:<samp id="Calle" name="errUsernameAs" class="control-label"></samp> </label>
        <input type="text" class="form-control smalltext" id="Calle" name="Username" size="30" placeholder="Calle" onKeyPress="return CamposFormulario(event, 1);" value="">
        <small id="Calle" name="errCalle" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">No. Exterior/Interior*:<samp id="No. Exterior/Interior" name="No. Exterior/Interior" class="control-label"></samp> </label> <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ejemplo tooltip"></span>
        <input type="text" class="form-control smalltext" id="pApellido" name="No. Exterior/Interior" size="30" placeholder="No. Exterior/Interior" onKeyPress="return CamposFormulario(event, 2);">
        <small id="No. Exterior/Interior" name="No. Exterior/Interior" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="form-group">
        <label class="control-label">Observaciones*:<samp id="" name="Observaciones" class="control-label"></samp> </label> <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ejemplo tooltip"></span>
        <textarea type="text" class="form-control smalltext" id="" name="Observaciones" size="30" placeholder="Observaciones" onKeyPress="return CamposFormulario(event, 2);"></textarea>
        <small id="" name="Observaciones" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d30106.515566794485!2d-99.1281158!3d19.39881515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1634836948611!5m2!1ses!2smx" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Latitud:<samp id="Latitud" name="Latitud" class="control-label"></samp> </label>
        <input type="text" class="form-control smalltext" id="Latitud" name="Latitud" size="30" placeholder="Latitud" onKeyPress="return CamposFormulario(event, 1);" value="" aria-label="Disabled input example" disabled>
        <small id="Latitud" name="Latitud" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Longitud:<samp id="Longitud" name="Longitud" class="control-label"></samp> </label> <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ejemplo tooltip"></span>
        <input type="text" class="form-control smalltext" id="Longitud" name="Longitud" size="30" placeholder="Longitud" onKeyPress="return CamposFormulario(event, 2);" disabled>
        <small id="Longitud" name="Longitud" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="clearfix">
    <a alt="Entrar" class="btn btn-primary" type="button" value="SIGUIENTE" id="submit1" name="submit1" onClick="return ValidaEnvioLogin();" routerLink="/Generales">REGRESAR</a>
   
    <div class="pull-right">

      <a alt="Entrar" class="btn btn-primary" type="button" value="SIGUIENTE" id="submit1" name="submit1" onClick="return ValidaEnvioLogin();" routerLink="/Biometricos">SIGUIENTE</a>

    </div>

  </div>
</div>
<div class="bottom-buffer"></div>
