<div class="top-buffer"></div>

<!-- Menu -->
<nav class="navbar navbar-expand-md navbar-dark bg-light sub-navbar navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#subNavBarDropdown" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand sub-navbar" [routerLink]="['/user/bob']">prevencion y <br />readaptacion social</a>

    <div class="collapse navbar-collapse" id="subNavBarDropdown">
      <ul class="navbar-nav">

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link subnav-link" [routerLink]="['/Generales']">Generales</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link subnav-link" routerLink="/Demografico">Demograficos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link subnav-link" [routerLink]="['/Biometricos']">Biometricos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link subnav-link" [routerLink]="['/Familiares']">Familiares</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link subnav-link" [routerLink]="['/Judiricos']">Judiricos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link subnav-link" [routerLink]="['/Oficios']">Oficios</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link subnav-link" [routerLink]="['/']">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Fin del Menu -->


<div class="container">
  <div class="row">
    <div class="col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/Home']"><i class="icon icon-home"></i></a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/Generales']">Generales</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/Demografico']">Demografico</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/Biometricos']">Biometrico</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/Familiares']">Familiares</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/Judiricos']">Judiricos</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/Oficios']">Oficios</a></li>
      </ol>
    </div>
  </div>
</div>

<!-- Posicionamiento -->



<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve" width="80px" height="80x">
<style type="text/css">
  .st0 {
    fill: #4E4D4D;
  }
</style>
<g id="Grupo_378" transform="translate(-34.43 -12.88)">
<path id="Trazado_4493" class="st0" d="M114.5,41.5L91.9,16.3c-0.4-0.5-1-0.7-1.6-0.7h-33c-5.1,0-9.2,4.1-9.2,9.2v73.8
		c0,5.1,4.1,9.2,9.2,9.2h48.5c5.1,0,9.2-4.1,9.2-9.2V42.9C115,42.4,114.8,41.9,114.5,41.5z M93.3,24.4l16.2,18.1H98.2
		c-2.7,0-4.9-2.2-4.9-4.9V24.4z M105.8,103.5H57.3c-2.7,0-4.9-2.2-4.9-4.9V24.8c0-2.7,2.2-4.9,4.9-4.9H89v17.7
		c0,5.1,4.1,9.2,9.2,9.2h12.5v51.7C110.7,101.3,108.5,103.4,105.8,103.5z" />
<path id="Trazado_4494" class="st0" d="M99.8,56.9H63.9c-1.2,0-2.2,1-2.2,2.2c0,1.2,1,2.2,2.2,2.2h35.9c1.2,0,2.2-1,2.2-2.2
		C102,57.8,101,56.9,99.8,56.9C99.8,56.9,99.8,56.9,99.8,56.9z" />
<path id="Trazado_4495" class="st0" d="M99.8,68.8H63.9c-1.2,0-2.2,1-2.2,2.2c0,1.2,1,2.2,2.2,2.2h35.9c1.2,0,2.2-1,2.2-2.2
		C102,69.8,101,68.8,99.8,68.8z" />
<path id="Trazado_4496" class="st0" d="M99.8,79.7H63.9c-1.2,0-2.2,1-2.2,2.2c0,1.2,1,2.2,2.2,2.2h35.9c1.2,0,2.2-1,2.2-2.2
		C102,80.7,101,79.7,99.8,79.7z" />
<path id="Trazado_4497" class="st0" d="M88.3,90.4H63.9c-1.2,0-2.2,1-2.2,2.2c0,1.2,1,2.2,2.2,2.2c0,0,0,0,0,0h24.4
		c1.2,0,2.2-1,2.2-2.2S89.5,90.4,88.3,90.4z" />
</g>
</svg>&nbsp;OFICIOS
      </h3>
      <hr class="red">
    </div>
  </div>
</div>

<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Número de Oficio*:<samp id="" name="Número de Oficio" class="control-label"></samp> </label>
        <input type="text" class="form-control smalltext" id="" name="Número de Oficio" size="30" placeholder="Partida Judírica">
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Fecha de Oficio*:<samp id="" name="Fecha de Oficio" class="control-label"></samp> </label>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <small id="" name="Fecha de Oficio" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Asunto*:<samp id="" name="Asunto" class="control-label"></samp> </label> <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ejemplo tooltip"></span>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <small id="Asunto" name="Asunto" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Destinatario*:<samp id="*" name="Destinatario" class="control-label"></samp> </label>
        <select class="form-control">
          <option>Juzgados</option>
          <option>Centro Penitenciario</option>
          <option>Alcaldías</option>
          <option>Presidencias Municipales</option>
          <option>Sentenciado</option>
          <option>Dirección General de Prevención(Estatal)</option>
        </select>
        <small id="Destinatario" name="Destinatario" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group datepicker-group">
        <label class="control-label" for="calendarYear">Fecha de Recepción:</label>
        <input class="form-control" id="calendarYear12" type="text">
        <span class="bootstrap-icons" aria-hidden="true"><i class="bi bi-calendar"></i></span>
      </div>
    </div>
    <div class="col-md-4">
      <form role="form">
        <div class="form-group">
          <label class="control-label" for="file-01">Subir documento:</label>
          <input id="file-01" type="file">
        </div>
      </form>
    </div>
  </div>
</div>


<div class="container">
  <div class="clearfix">
    <div class="pull-right">
      <button type="button" class="btn btn-danger">Nuevo</button>
      <button type="button" class="btn btn-danger">Agregar</button>
      <button type="button" class="btn btn-danger">Actualizar</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>
                <p>Número de Oficio</p>
              </th>
              <th>
                <p>Fecha de Oficio</p>
              </th>
              <th>
                <p>Asunto</p>
              </th>
              <th>
                <p>Destinatario</p>
              </th>
              <th>
                <p>Fecha de Recepción</p>
              </th>
              <th>
                <p>Archivo</p>
              </th>
              <th>
                <p>Editar/Descargar</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>
                <p>Q123SD</p>
              </td>
              <td>
                <p>12/10/2021</p>
              </td>
              <td>
                <p>Señalamiento de obligaciones </p>
              </td>
              <td>
                <p>
                  Centro penitenciario
                </p>
              </td>
              <td>
                <p>
                  12/10/2021
                </p>
              </td>
              <td>
                <p>
                  oficio_a.pdf
                </p>
              </td>
              <td>
                <p class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-edit"></i></button>
                  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Descargar"><i class="fas fa-file-download"></i></button>
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>
                <p>Q123SD</p>
              </td>
              <td>
                <p>12/10/2021</p>
              </td>
              <td>
                <p>Señalamiento de obligaciones </p>
              </td>
              <td>
                <p>
                  Centro penitenciario
                </p>
              </td>
              <td>
                <p>
                  12/10/2021
                </p>
              </td>
              <td>
                <p>
                  oficio_a.pdf
                </p>
              </td>
              <td>
                <p class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-edit"></i></button>
                  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Descargar"><i class="fas fa-file-download"></i></button>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Anterior">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Siguiente">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="clearfix">
    <a alt="Entrar" class="btn btn-primary" type="button" value="SIGUIENTE" id="submit1" name="submit1" onClick="return ValidaEnvioLogin();" [routerLink]="['/Judiricos']">REGRESAR</a>

    <div class="pull-right">

      <a alt="Entrar" class="btn btn-primary" type="button" value="SIGUIENTE" id="submit1" name="submit1" onClick="return ValidaEnvioLogin();" [routerLink]="['/']">FINALIZAR</a>

    </div>

  </div>
</div>
<div class="bottom-buffer"></div>

