<div class="top-buffer"></div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 152.1 182.1" style="enable-background:new 0 0 152.1 182.1;" xml:space="preserve" width="80px" height="80x">
<style type="text/css">
  .st0 {
    fill: none;
    stroke: #BE955B;
    stroke-width: 3.0167;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;
    stroke: #BE955B;
    stroke-width: 3.0167;
    stroke-miterlimit: 10;
  }

  .st2 {
    fill: none;
    stroke: #BE955B;
    stroke-width: 2.7562;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st3 {
    fill: none;
    stroke: #BE955B;
    stroke-width: 3.2661;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st4 {
    fill: none;
    stroke: #BE955B;
    stroke-width: 7.8569;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
</style>
<g>
<g>
<g>
<path class="st0" d="M44.3,74.6v-12c0-3.8,3.1-6.8,6.8-6.8h20.8c3.8,0,6.8,3.1,6.8,6.8v12" />
<path class="st1" d="M94.2,144.8H21.7c-2.5,0-4.6-2-4.6-4.6V30.4c0-2.5,2-4.6,4.6-4.6h79c2.5,0,4.6,2,4.6,4.6v47.2" />
<circle class="st0" cx="61.4" cy="40.6" r="7.6" />
<line class="st0" x1="54.3" y1="67.7" x2="54.3" y2="75.1" />
<line class="st0" x1="68.2" y1="67.7" x2="68.2" y2="75.1" />
<line class="st0" x1="30.6" y1="93.6" x2="60.3" y2="93.6" />
<line class="st0" x1="30.6" y1="112.5" x2="56.2" y2="112.5" />
<line class="st0" x1="30.6" y1="130.2" x2="62.9" y2="130.2" />
<path class="st1" d="M114.7,83V20.7c0-2.5-2-4.6-4.6-4.6h-79c-2.5,0-4.6,2-4.6,4.6v5.8" />
		</g>
<g>
<path class="st2" d="M113.2,101c1.2,2.8,1.8,5.8,1.8,8.9c0,6.1-2.5,11.7-6.3,15.8" />
<circle class="st3" cx="92.1" cy="110" r="35" />
<line class="st4" x1="125.7" y1="141.2" x2="142.6" y2="158" />
		</g>
	</g>
</g>
</svg>&nbsp;CONSULTAS
      </h3>
      <hr class="red">
    </div>
  </div>
</div>




<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label" for="validationCustom03">Folio:<samp id="" name="Folio" class="control-label"></samp></label>
        <input type="text" class="form-control smalltext" id="" name="Folio" size="30" placeholder="Folio" value="">
        <small id="" name="Folio" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Nombre:</label>
        <input type="text" class="form-control smalltext" id="" name="Nombre" size="30" placeholder="Nombre" onKeyPress="return CamposFormulario(event, 1);" value="" onkeyup="mayus(this);">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Apellido Paterno: </label>
        <input type="text" class="form-control smalltext" id="" name="Apellido Paterno" size="30" placeholder="Apellido Paterno" onKeyPress="return CamposFormulario(event, 2);" onkeyup="mayus(this);">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Apellido Materno:</label>
        <input type="text" class="form-control smalltext" id="" name="Apellido Materno" size="30" placeholder="Apellido Materno" onkeyup="mayus(this);">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Nacionalidad:<samp id="Nacionalidad" name="Nacionalidad" class="control-label"></samp> </label>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Alias:</label>
        <input type="text" class="form-control smalltext" id="" name="Alias" size="50" placeholder="Alias" onKeyPress="return CamposFormulario(event, 5);" onkeyup="mayus(this);">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Otros Nombres:</label>
        <input type="text" class="form-control smalltext" id="" name="Otros Nombres" size="50" placeholder="Otros Nombres" onKeyPress="return CamposFormulario(event, 5);" onkeyup="mayus(this);">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-sm-4">
      <div class="form-group datepicker-group">
        <label class="control-label" for="calendar">Fecha Nacimento*:</label>
        <input class="form-control" id="calendar" type="text" placeholder="dd/mm/aaaa" maxlength="10">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Ocupación:</label>
        <select class="form-control">
          <option>--Elige una Opción--</option>
          <option>--------</option>
          <option>----------</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>Datos del Padre</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Nombre:</label>
        <input type="text" class="form-control smalltext" id="" name="Nombre Padre" size="30" placeholder="Nombre" onKeyPress="return CamposFormulario(event, 1);" value="" onkeyup="mayus(this);">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Apellido Paterno: </label>
        <input type="text" class="form-control smalltext" id="" name="Apellido Padre" size="30" placeholder="Apellido Paterno" onKeyPress="return CamposFormulario(event, 2);" onkeyup="mayus(this);">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Apellido Materno:</label>
        <input type="text" class="form-control smalltext" id="" name="Apellido Padre" size="30" placeholder="Apellido Materno" onkeyup="mayus(this);">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>Datos de la Madre</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Nombre:</label>
        <input type="text" class="form-control smalltext" id="" name="Nombre Madre" size="30" placeholder="Nombre" onKeyPress="return CamposFormulario(event, 1);" value="" onkeyup="mayus(this);">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Apellido Paterno: </label>
        <input type="text" class="form-control smalltext" id="" name="Apellido Madre" size="30" placeholder="Apellido Paterno" onKeyPress="return CamposFormulario(event, 2);" onkeyup="mayus(this);">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Apellido Materno:</label>
        <input type="text" class="form-control smalltext" id="" name="Apellido Madre" size="30" placeholder="Apellido Materno" onkeyup="mayus(this);">
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>Datos de la Madre</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Procesos:</label>
        <input type="text" class="form-control smalltext" id="" name="Procesos" size="30" placeholder="Procesos" onKeyPress="return CamposFormulario(event, 1);" value="" onkeyup="mayus(this);">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group datepicker-group">
        <label class="control-label" for="calendar">Fecha a partir:</label>
        <input class="form-control" id="calendarYearfechaapartir" type="text" placeholder="dd/mm/aaaa">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group datepicker-group">
        <label class="control-label" for="calendar">Fecha de sentencia:</label>
        <input class="form-control" id="calendarYearsentencia" type="text" placeholder="dd/mm/aaaa">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Beneficio:</label>
        <select class="form-control">
          <option>--Elige una Opción--</option>
          <option>--------</option>
          <option>----------</option>
        </select>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Fecha puesta a disposición:</label>
        <select class="form-control">
          <option>--Elige una Opción--</option>
          <option>--------</option>
          <option>----------</option>
        </select>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="radio">
        <label>
          <input type="radio" name="radio-01" value="opcion-01" checked="checked"> Vivo &nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" name="radio-01" value="opcion-02" checked="checked"> Finado &nbsp;&nbsp;
        </label>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="clearfix">

    
    <div class="pull-right">

      <button alt="Entrar" class="btn btn-primary" type="button" value="SIGUIENTE" id="submit1" name="submit1" onClick="return ValidaEnvioLogin();"><i class="fas fa-broom"></i>LIMPIAR</button>

    </div>

  </div>
</div>
<div class="bottom-buffer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>
                <p>No.</p>
              </th>
              <th>
                <p>FOLIO</p>
              </th>
              <th>
                <p>NOMBRE DEL SENTENCIDADO</p>
              </th>
              <th>
                <p>PROCESOS</p>
              </th>
              <th>
                <p></p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>
                <p>----------</p>
              </td>
              <td>
                <p>-------------</p>
              </td>
              <td>
                <p>--------------- </p>
              </td>
              <td>
                <p>
                  ------------------------
                </p>
              </td>
              <td>
                <p class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Abrir Información del sentenciado"><i class="fas fa-folder-open"></i>Abrir</button>
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>
                <p>------------</p>
              </td>
              <td>
                <p>-----------</p>
              </td>
              <td>
                <p>---------------</p>
              </td>
              <td>
                <p>
                  --------------------
                </p>
              </td>
              <td>
                <p class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Abrir Información del sentenciado"><i class="fas fa-folder-open"></i>Abrir</button>

                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Anterior">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Siguiente">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary" routerLink="/Generales"><i class="fas fa-plus-square"></i>Nuevo Registro</button>
 </div>
</div>
</div>
