

<div class="top-buffer"></div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3><span class="icon-user" aria-hidden="true"></span>&nbsp;PSICOLOGIA</h3>
      <hr class="red">
    </div>
  </div>
</div>


<div class="container">
  <div class="pull-right">
    <div class="row">
      <div class="col-md-12 right">
        <div class="form-group">
          <label class="control-label" for="validationCustom03">Fecha de Atención:<samp id="" name="Fecha de Atención" class="control-label"></samp> </label>
          <input type="text" class="form-control smalltext" id="" name="Fecha de Atención" size="30" placeholder="Fecha de Atención" onKeyPress="return CamposFormulario(event, 3);" value="">
          <small id="" name="Fecha de Atención" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-sm-3">
      <div class="form-group">
        <label class="control-label">Nombre del sentenciado:<samp id="" name="Nombre del sentenciado" class="control-label"></samp> </label>
        <input type="text" class="form-control smalltext" id="" name="Nombre del sentenciado" size="30" placeholder="Nombre del sentenciado" onKeyPress="return CamposFormulario(event, 5);">
        <small id="" name="Nombre del sentenciado" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label class="control-label">Teléfono del Sentenciado:<samp id="" name="Teléfono del Sentenciado" class="control-label"></samp> </label>
        <input type="text" class="form-control smalltext" id="" name="Teléfono del Sentenciado" size="30" placeholder="Teléfono del Sentenciado" onKeyPress="return CamposFormulario(event, 5);">
        <small id="" name="Teléfono del Sentenciado" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label class="control-label">Folio:<samp id="" name="Folio" class="control-label"></samp> </label>
        <input type="text" class="form-control smalltext" id="" name="Folio" size="30" placeholder="Folio" onKeyPress="return CamposFormulario(event, 5);">
        <small id="" name="Folio" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label class="control-label">No. de expediente*:<samp id="" name="Numero de expediente" class="control-label"></samp> </label>
        <input type="text" class="form-control smalltext" id="" name="Numero de expediente" size="30" placeholder="Numero de expediente" onKeyPress="return CamposFormulario(event, 5);">
        <small id="" name="Numero de expediente" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
  </div>
</div>






<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Parentesco:<samp id="" name="Parentesco" class="control-label"></samp> </label>
        <input type="text" class="form-control smalltext" id="" name="Parentesco" size="30" placeholder="Parentesco" onKeyPress="return CamposFormulario(event, 5);">
        <small id="" name="Parentesco" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Nombre del Beneficiario:<samp id="" name="Nombre del Beneficiario" class="control-label"></samp> </label>
        <input type="text" class="form-control smalltext" id="" name="Nombre del Beneficiario" size="30" placeholder="Nombre del Beneficiario" onKeyPress="return CamposFormulario(event, 5);">
        <small id="" name="Nombre del Beneficiario" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Teléfono:<samp id="" name="Teléfono" class="control-label"></samp> </label>
        <input type="text" class="form-control smalltext" id="" name="Teléfono" size="30" placeholder="Teléfono" onKeyPress="return CamposFormulario(event, 5);">
        <small id="" name="Teléfono" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Dirección:<samp id="" name="Dirección" class="control-label"></samp> </label>
        <input type="text" class="form-control smalltext" id="" name="Dirección" size="30" placeholder="Dirección" onKeyPress="return CamposFormulario(event, 5);">
        <small id="" name="Dirección" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <p>
          <strong>Se Realizo Entrevista de Sensibilisación</strong>
        </p>
        <div class="radio">
          <label>
            <input type="radio" name="radio-01" value="opcion-01" checked="checked"> Si &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="radio-01" value="opcion-02" checked="checked"> No
          </label>
        </div>
        <div class="form-group datepicker-group">
          <label class="control-label" for="calendarYear">Calendario:</label>
          <input class="form-control" id="calendarYear3" type="text">
          <span class="bootstrap-icons" aria-hidden="true"><i class="bi bi-calendar"></i></span>
        </div>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <p>
          <strong>Se Realizo Entrevista <br /> Inicial</strong>
        </p>
        <div class="radio">
          <label>
            <input type="radio" name="radio-03" value="opcion-03" checked="checked"> Si &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="radio-03" value="opcion-04" checked="checked"> No
          </label>
        </div>
        <div class="form-group datepicker-group">
          <label class="control-label" for="calendarYear">Calendario:</label>
          <input class="form-control" id="calendarYear4" type="text">
          <span class="bootstrap-icons" aria-hidden="true"><i class="bi bi-calendar"></i></span>
        </div>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <p>
          <strong>Aplicación de Pruebas <br /> Psicologicas</strong>
        </p>
        <div class="radio">
          <label>
            <input type="radio" name="radio-05" value="opcion-05" checked="checked"> Si &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="radio-05" value="opcion-06" checked="checked"> No
          </label>
        </div>
        <div class="form-group datepicker-group">
          <label class="control-label" for="calendarYear">Calendario:</label>
          <input class="form-control" id="calendarYear5" type="text">
          <span class="bootstrap-icons" aria-hidden="true"><i class="bi bi-calendar"></i></span>
        </div>

      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Tipo de Pruebas:<samp id="" name="Tipo de Pruebas" class="control-label"></samp> </label>
        <select class="form-control">
          <option>Inteligencia</option>
          <option>Proyectivas</option>
          <option>Evalucación de personal</option>
        </select>
        <small id="" name="Tipo de Pruebas" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Porqué Motivo Solicita Atención:<samp id="" name="Beneficiario" class="control-label"></samp> </label>
        <select class="form-control">
          <option>Probelmas Familiares</option>
          <option>Conflicto de pareja</option>
          <option>Afroentamiento del proceso legal</option>
          <option>aspectos emocionales</option>
          <option>Duelo</option>
          <option>Consumo de sustancias</option>
          <option>otro</option>
        </select>
        <small id="" name="Beneficiario" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Conclución del estudio Dx Clinico:<samp id="" name="Beneficiario" class="control-label"></samp> </label><span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="La conclución del estudio, psic, arroja un Dx Clinico que amerite derivación extrainstitucional:"></span>
        <div class="radio">
          <label>
            <input type="radio" name="radio-07" value="opcion-07" checked="checked"> Si &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="radio-07" value="opcion-08" checked="checked"> No
          </label>
        </div>
        <textarea class="form-control" placeholder="Dx Clínico" rows="3"></textarea>
        <small id="" name="Beneficiario" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
  </div>
</div>





<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Instancia a Donde se Derivó:<samp id="" name="Instancia a Donde se Derivó:" class="control-label"></samp> </label>
        <select class="form-control">
          <option>H.Fray B Álvarez</option>
          <option>H.S Ramírez</option>
          <option>I.N. de Psiquiatra</option>
          <option>C.I.J</option>
          <option>SECOSAME</option>
          <option>otro (habilitar para anotar)</option>
        </select>
        <small id="" name="Instancia a Donde se Derivó:" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Consumo de Sustancias:<samp id="" name="Consumo de Sustancias" class="control-label"></samp> </label>
        <select class="form-control">
          <option>Nunca ha Consumido</option>
          <option>Actualmente Consume</option>
          <option>Dejo de Consumir</option>
          <option>Su Consumo Fue Experimental</option>
        </select>
        <small id="" name="Consumo de Sustancias" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Sustancia Consumida:<samp id="" name="Sustancia Consumida" class="control-label"></samp> </label>
        <select class="form-control">
          <option>Alcohol</option>
          <option>Marihuana</option>
          <option>Cocaina</option>
          <option>Otro (Opción para anotar)</option>
        </select>
        <small id="" name="Sustancia Consumida" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row small-bottom-buffer">
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label">Consume Algún Medicamento:<samp id="" name="Beneficiario" class="control-label"></samp> </label><span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="La conclución del estudio, psic, arroja un Dx Clinico que amerite derivación extrainstitucional:"></span>
        <div class="radio">
          <label>
            <input type="radio" name="radio-09" value="opcion-09" checked="checked"> Si &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="radio-09" value="opcion-10" checked="checked"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label"><samp id="" name="" class="control-label"></samp> </label>
        <input type="text" class="form-control smalltext" id="" name="Consume Algún Medicamento" size="30" placeholder="" onKeyPress="return CamposFormulario(event, 2);">
        <small id="" name="" class="form-text form-text-error" style="display:none">Este campo es obligatorio</small>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th><h6>ID</h6></th>
            <th>
              <h6>NO</h6>
            </th>
            <th>
              <h6>FECHA DE ATENCIÓN</h6>
            </th>
            <th style="width: 35%">
              <p>

                <select class="form-control">
                  <option>TIPO DE ATENCIÓN</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </p>
            </th>
            <th style="width: 25%">
              <p>
                <select class="form-control">
                  <option>PERSONA ATENDIDA</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </p>
            </th>
            <th style="width: 25%">
              <p>
                <select class="form-control">
                  <option>RESULTADO</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </p>
            </th>
            <th>
              <h6>OBSERVACIÓNES</h6>
            </th>
            <th style="width: 35%">
              <p>
                <select class="form-control">
                  <option>PROFECIONAL QUE ATIENDE</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <p>------</p>
            </td>
            <td>
              <p>------</p>
            </td>
            <td>
              <p>-------</p>
            </td>
            <td>
              <p>------</p>
            </td>
            <td>
              <p>-------</p>
            </td>
            <td>
              <p>------</p>
            </td>
            <td>
              <p>
                ---------------
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>
              <p>------</p>
            </td>
            <td>
              <p>------</p>
            </td>
            <td>
              <p>------</p>
            </td>
            <td>
              <p>------</p>
            </td>
            <td>
              <p>-------</p>
            </td>
            <td>
              <p>------</p>
            </td>
            <td>
              <p>
                -----------------
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>
              <p>-----</p>
            </td>
            <td>
              <p>-----</p>
            </td>
            <td>
              <p>-----</p>
            </td>
            <td>
              <p>------</p>
            </td>
            <td>
              <p>-------</p>
            </td>
            <td>
              <p>------</p>
            </td>
            <td>
              <p>
                -------------
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Anterior">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Siguiente">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>





























<style>
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-responsive {
    overflow-x: scroll;
    min-height: auto;
  }
</style>
